.title{
  color: var(--white-);
  border-bottom: 2px solid var(--primary);
  border-image: linear-gradient(90deg, transparent, var(--primary), transparent) 30;
  padding: 20px 0;
  width: fit-content;
}